html, body {
    height: 100%;
    margin: 0px;
    background-color: #efe6d8;
    background-image: url("background.jpg");
    background-repeat: repeat-y;
    font-weight: bold;
    font-size: 25px;
}

#gram {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin: 25px;
    max-width: 600px;
}