html, body {
    height: 100%;
    margin: 0px;
    background-color: #efe6d8;
    font-weight: bold;
    font-size: 25px;
}

#gram {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin: 25px;
    max-width: 600px;
    background-image: url("background.jpg");
    background-repeat: repeat-y;
}

#trigs{
    display: inline-block;
    margin-top: 75px;
}

#cast{
    display: inline-block;
    height: 60px;
    width: 120px;
}

#head{
    text-align: center;
}

#ibod{
    max-width: 800px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin: 25px;
}

.trigram {
    height: 35px;
    width: 50px;
}

.intro{
    text-indent: 50px;
}