html, body {
    height: 100%;
    margin: 0px;
    background-image: url("mandala5.jpg");
    background-size: 100px 99px;
    background-repeat: repeat;  
    font-weight: bold;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
flex-direction: column;
}

h1 {
    font-size: 16px;
}

.mobileHide {
    visibility: hidden;
}

#header {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    display: -webkit-flex;
    display: flex;
    margin: auto;
    width: 80%;
    padding: 8px;
    border-radius: 60px;
    height: 120px;
}

.side {
    height:75%;
    width: 25%;
    margin: 0px;
}

.up {
margin-bottom: auto;
margin-left: 5%;
}

.down {
margin-right: 5%;
margin-top: auto;
}

#center {
    height: 100%;
    width: 50%;
    margin: 10px;
}

.post {
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    border-radius: 15px;
    padding: 10px 15px 10px 5px;
   margin: 10px auto;
    width: 91%;
}

#scrollBox {
    overflow-y: auto;
    padding: 8px 12px;
    height: 100%;
    flex-grow: 6;
}

#postBox {
    margin: auto;
    display: -webkit-flex;
    display: flex;
    min-height: 100 px;
    flex-grow: 1;
    width: 95%;
}

.timeStamp{
    text-align: right;
    font-size: 10px;
}

#tbox {
    width: 75%;
    height: 100%;

}

.padFive {
    padding: 5px;
    margin: auto;
}

.butt {
    width: 22%;
    height: 100%;
/*    height: 80px;
    width: 150px;*/
}

.butt button {
    padding: 15px 5px;
    width: 100%;
    height: 80%;
}

.hid {visibility: hidden;}

#msg {
    width: 100%;
    height: 100%;
}

.tan {
    background-color: #F6F2B7;
}

.pinktan {
    background-color: #EEC8A7;
}

.brown {
    background-color: #835C3B;
}

.postorange {
    background-color: #f5de9a;
}

.periwinkle {
    background-color: #9E64FF;    

}

.boobpurple {
    background-color: #DE6151;
/*    background-color: #bb00bb;*/
}

.cream {
    background-color: #F5FFFA;
    color: rgb(34,63,39);
}

.blue {
	background-color: #314cad;
} /* Blue */

.red {
    background-color: #EE1111;
}

.green {
	background-color: #4CAF50;
} /* Green */
.button2 {
	background-color: #008CBA;
} /* Blue */
.button3 {
	background-color: #f44336;
} /* Red */
.grey {
	background-color: #e7e7e7;
	color: black;
} /* Gray */
.button5 {
	background-color: #555555;
} /* Black */

.yellow {
	background-color: #ffff33;
} /* Yellow */

@media only screen and (min-width: 768px) {
html, body {
    background-size: 200px 198px;
}

.mobileHide {
    visibility: visible;
}

h1 {
    font-size: 24px;
}

#header {
    padding: 15px;
    border-radius: 110px;
    height: 250px;
}

#center {
    margin: 20px;
}

.post {
    border-radius: 45px;
    font-size: 115%;
    padding: 10px 15px;
    margin: 20px auto;
    width: 66%;
}

#scrollBox {
    padding: 15px 25px;
}

#postBox {
    width: 75%;
}

.butt {
    height: 120px;
    width: 120px;
    padding-top: 18px;
}

.butt button {
    padding: 10px 5px;
    width: 100%;
    height: 50%;
}

#scrollBox {
    padding: 15px 25px;
}
}
